body {
    font-family: 'Arial', sans-serif;
    background: #f7f9fc;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

/* شاشة اللوجو */
.logo-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1.8s ease 2s forwards;
}

.logo-img {
    width: 400px;
    animation: popIn 1.2s ease;
}
.tc-logo {
    width: 200px;
    margin: 10px auto;
    display: block;
}

.message {
    font-size: 20px;
    color: #003b49;
    margin: 10px auto;
    text-align: center;
}

/* بعد اللوجو */
.hidden {
    opacity: 0;
}

.container {
    text-align: center;
    transition: opacity 1.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 28px;
    color: #003b49; /* الأزرق الغامق */
    margin-bottom: 20px;
    font-weight: bold;
}

.card {
    background: #ffffffee;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    width: 300px;
    animation: popIn 0.8s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fruit-img {
    width: 150px;
    margin-bottom: 15px;
    animation: bounce 0.6s ease;
}

.fruit-name {
    font-size: 24px;
    margin-bottom: 20px;
    color: #003b49;
    font-weight: bold;
}

.btn {
    background: #ee7b10; /* البرتقالي */
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover {
    background: #c85f00;
}

/* Animations */
@keyframes popIn {
    0% { transform: scale(0.6); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes bounce {
    0% { transform: translateY(15px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; visibility: visible; }
    100% { opacity: 0; visibility: hidden; }
}